/* Estilos generales */
body, html {
    margin: 0; /* Elimina márgenes por defecto */
    height: 100%; /* Altura completa */
    font-family: 'Montserrat', sans-serif; /* Aplica la fuente Montserrat */
    background-color: #d1d1d1; /* Fondo del cuerpo */
    line-height: 1.6; /* Altura de línea */
}

/* Sección de Servicios */
#Servicios1 {
    display: flex; /* Usamos flexbox */
    flex-direction: column; /* Alineamos los elementos en columna */
    justify-content: center; /* Centra la posicion del texto*/
    align-items: top; /* Centra horizontalmente */
    text-align: center; /* Centra el texto dentro del div */
    height: 100vh; /* Altura de la ventana */
    background-color: #d1d1d1; /* Fondo específico de la sección */
}
.Junior
{
    position: relative;
    color: rgb(0, 0, 0);
    left: -600px;
}
.Junior1
{
    position: relative;
    color: rgb(0, 0, 0);
    left: -600px;
}


/* Estilos del footer */
footer {
    text-align: center; /* Centra el texto del pie de página */
    padding: 20px 0; /* Espaciado vertical */
}

/* Estilo para el texto de derechos de autor */
.Copyr {
    text-align: center; /* Centra el texto */
}
